/* ==========================
   TOPBAR
========================== */

.topbar {
    height: 70px;
    background: var(--card);
    border-bottom: 1px solid var(--border);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 32px;

    transition: .3s;
}

/* Container dos links */
.topbar > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Botões */
.topbar .btn-primary {
    text-decoration: none;
    color: var(--text);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;

    padding: 10px 20px;
    border-radius: 10px;

    transition: all .3s ease;
}

/* Hover */
.topbar .btn-primary:hover {
    background: linear-gradient(
        135deg,
        var(--primary),
        var(--secondary)
    );

    color: #fff;
    transform: translateY(-2px);

    box-shadow: 0 4px 12px rgba(128, 24, 59, 0.3);
}